<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/head :: head('EventLog - Ocorrências')"></div>

    <body class="">

        <div class="wrapper ">

            <div th:replace="fragments/fragmentMenu/menu :: menu(2)"></div>

            <div class="main-panel">

                <div th:replace="fragments/header :: header()"></div>

                <main class="content">

                </main>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>
