<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head('EventLog - Ocorrências')"></div>

<body style="background-color: #f4f3ef">

<div class="wrapper ">

    <div th:replace="fragments/fragmentMenu/menu :: menu(2)"></div>

    <div class="main-panel">

        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand">Providência Da Ocorrência</a>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <div class="nav-item btn-rotate dropdown">

                        <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            </svg>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <div class="dropdown-item" style="height: 46px;">
                                <div style="margin-top: 4px">
                                    <label class="switch">
                                        <input type="checkbox" th:onclick="'ativar(' + ${ocorrencia.id} + ')'" th:checked="${ocorrencia.visualizada}">
                                        <span class="slider round"></span>
                                    </label>
                                    &nbsp
                                    Finalizada
                                </div>
                            </div>

                            <a style="height: 46px" class="dropdown-item text-center" th:href="@{'/pdf/export/' + ${ocorrencia.id}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                    <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                                </svg>
                                &nbsp
                                Baixar PDF
                            </a>

                            <a style="height: 46px" class="dropdown-item text-center" th:href="@{'/administrador/ocorrencias/providencias/edit/' + ${ocorrencia.id}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                                &nbsp
                                Editar
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <main class="content">
            <main class="container" style="margin-top: 40px">
                <ul class="nav nav-tabs">
                    <li class="nav-item" style="margin-right: 3px">
                        <a class="nav-link" style="background-color: #E3E3E3; color: #66615B" th:href="@{'/administrador/ocorrencias/info/' + ${ocorrencia.id}}">Ocorrência</a>
                    </li>
                    <li class="nav-item" style="margin-right: 3px">
                        <a class="nav-link" style="background-color: #E3E3E3; color: #66615B" th:href="@{'/administrador/ocorrencias/analises/info/' + ${ocorrencia.id}}">Análise</a>
                    </li>
                    <li class="nav-item" style="margin-right: 3px">
                        <a class="nav-link active" aria-current="page">Providências</a>
                    </li>
                    <li th:if="${ocorrencia.pacienteFaleceu}" style="margin-right: 3px" class="nav-item">
                        <a class="nav-link"  style="background-color: #E3E3E3; color: #66615B" th:href="@{ '/administrador/ocorrencias/obitos/info/' + ${ocorrencia.id}}">Em caso de óbito</a>
                    </li>
                </ul>
                <div class="card card-user" style="border-top-left-radius: 0px; border-top-right-radius: 0px; border: 1px solid #dee2e6; border-top-color: white;">
                    <div class="card-body" style="padding: 40px">
                        <form method="post" th:action="@{'/administrador/ocorrencias/providencias/form/' + ${ocorrencia.id}}" th:object="${providencia}">
                            <input class="invisible" id="id" name="id" th:field="*{id}" placeholder="Id do providencia">

                            <div class="row">
                                <div class="col-md-2 pl-1">
                                    <div class="form-group">
                                        <label style="color: #2a2b2d">Datade cadastro</label>
                                        <input type="text" th:class="${'form-control'}" th:field="*{data}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-2 pl-1">
                                    <div class="form-group">
                                        <label style="color: #2a2b2d">Hora de cadastro</label>
                                        <input type="text" th:class="${'form-control'}" th:field="*{hora}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div style="margin-top: 30px; margin-left: 50px">
                                        <input class="form-check-input" type="checkbox" th:field="*{naoCaracterizaEventoAdverso}" th:checked="${naoCaracterizaEventoAdverso}" th:disabled="${info}" style="width: 20px; height: 20px">
                                        <label class="form-check-label" style="margin-left: 15px; margin-top: 6px; color: #2a2b2d">
                                            Não caracteriza um evento adverso
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div style="margin-top: 30px;">
                                        <input class="form-check-input" type="checkbox" th:field="*{naoAdotadasAcoesReducaoRisco}" th:checked="${naoAdotadasAcoesReducaoRisco}" th:disabled="${info}" style="width: 20px; height: 20px">
                                        <label class="form-check-label" style="margin-left: 15px; margin-top: 6px; color: #2a2b2d">
                                            Não foram adotadas ações de redução de risco
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-12 pl-1">
                                    <p style="color: #2a2b2d">Ações de melhoria</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7 pl-1">
                                    <div class="form-group">
                                        <label style="color: #2a2b2d">Relacionadas ao paciente</label>
                                        <select th:disabled="${info}" th:class="${ erros.tipoAcaoMelhoriaPaciente != null ? 'form-control errorInput' : 'form-control'}" th:field="*{tipoAcaoMelhoriaPaciente.id}">
                                            <option th:value="${tipo.id}" th:each="tipo : ${listaTipoAcaoMelhoriaPaciente}" th:text="${tipo.nome + (tipo.descricao != '' ? ('  ('+tipo.descricao)+')' : '')}"></option>
                                        </select>
                                        <label style="color: red" th:if="${erros.tipoAcaoMelhoriaPaciente != null}" th:text="${erros.tipoAcaoMelhoriaPaciente}"></label>
                                    </div>
                                </div>
                                <div class="col-md-5 pl-1">
                                    <div class="form-group">
                                        <label style="color: #2a2b2d">Relacionadas com a organização</label>
                                        <select th:disabled="${info}" th:class="${ erros.tipoAcaoMelhoriaOrganizacao != null ? 'form-control errorInput' : 'form-control'}" th:field="*{tipoAcaoMelhoriaOrganizacao.id}">
                                            <option th:value="${tipo.id}" th:each="tipo : ${listaTipoAcaoMelhoriaOrganizacao}" th:text="${tipo.nome + (tipo.descricao != '' ? ('  ('+tipo.descricao)+')' : '')}"></option>
                                        </select>
                                        <label style="color: red" th:if="${erros.tipoAcaoMelhoriaOrganizacao != null}" th:text="${erros.tipoAcaoMelhoriaOrganizacao}"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-12 pl-1">
                                    <p style="color: #2a2b2d">Ações para reduzir riscos</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 pl-1">
                                    <div class="form-group">
                                        <label style="color: #2a2b2d">Relacionadas ao paciente</label>
                                        <select th:disabled="${info}" th:class="${ erros.tipoAcaoReduzirRiscoPaciente != null ? 'form-control errorInput' : 'form-control'}" th:field="*{tipoAcaoReduzirRiscoPaciente.id}">
                                            <option th:value="${tipo.id}" th:each="tipo : ${listaTipoAcaoReduzirRiscoPaciente}" th:text="${tipo.nome + (tipo.descricao != '' ? ('  ('+tipo.descricao)+')' : '')}"></option>
                                        </select>
                                        <label style="color: red" th:if="${erros.tipoAcaoReduzirRiscoPaciente != null}" th:text="${erros.tipoAcaoReduzirRiscoPaciente}"></label>
                                    </div>
                                </div>
                                <div class="col-md-7 pl-1">
                                    <div class="form-group">
                                        <label style="color: #2a2b2d">Relacionadas ao profissional</label>
                                        <select th:disabled="${info}" th:class="${ erros.tipoAcaoReduzirRiscoProfissional != null ? 'form-control errorInput' : 'form-control'}" th:field="*{tipoAcaoReduzirRiscoProfissional.id}">
                                            <option th:value="${tipo.id}" th:each="tipo : ${listaTipoAcaoReduzirRiscoProfissional}" th:text="${tipo.nome + (tipo.descricao != '' ? ('  ('+tipo.descricao)+')' : '')}"></option>
                                        </select>
                                        <label style="color: red" th:if="${erros.tipoAcaoReduzirRiscoProfissional != null}" th:text="${erros.tipoAcaoReduzirRiscoProfissional}"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label style="color: #2a2b2d">Relacionadas ao ambiental / organizacional</label>
                                        <select th:disabled="${info}" th:class="${ erros.tipoAcaoReduzirRiscoOrganizacional != null ? 'form-control errorInput' : 'form-control'}" th:field="*{tipoAcaoReduzirRiscoOrganizacional.id}">
                                            <option th:value="${tipo.id}" th:each="tipo : ${listaTipoAcaoReduzirRiscoOrganizacional}" th:text="${tipo.nome + (tipo.descricao != '' ? ('  ('+tipo.descricao)+')' : '')}"></option>
                                        </select>
                                        <label style="color: red" th:if="${erros.tipoAcaoReduzirRiscoOrganizacional != null}" th:text="${erros.tipoAcaoReduzirRiscoOrganizacional}"></label>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-12 pl-1">
                                    <p style="color: #2a2b2d">Outras providências</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 px-1">
                                    <div class="form-group">
                                        <textarea th:style="${ erros.outrasProvidencias != null ? 'border-color: red' : ''}" class="form-control" th:field="*{outrasProvidencias}" th:disabled="${info}"></textarea>
                                        <label style="color: red" th:if="${erros.outrasProvidencias != null}" th:text="${erros.outrasProvidencias}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" th:if="${!info}">
                                <div class="ml-auto mr-auto">
                                    <button type="submit" class="btn btn-primary mx-auto" style="width: 200px; height: 40px; font-size: 14px" >Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </main>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
