<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head('EventLog - Ocorrências')"></div>

<body class="">

<div class="wrapper ">

    <div th:replace="fragments/fragmentMenu/menu :: menu(2)"></div>

    <div class="main-panel">

        <div th:replace="fragments/header :: header()"></div>

        <!-- End Navbar -->
        <main class="content" style="margin-left: auto; margin-right: auto; margin-top: 100px; width: 900px;">
            <div class="card card-user" style="margin-top: 20px; width: 900px; height: 150px">
                <div class="card-body" style="padding: 40px">
                    <img src="/img/logo.png">
                </div>
            </div>

            <div class="card card-user" style="margin-top: 20px; width: 900px; height: 150px">
                <div class="card-body" style="padding: 40px">
                    <img src="/img/logo.png">
                </div>
            </div>

            <div class="card card-user" style="margin-top: 20px; width: 900px; height: 150px">
                <div class="card-body" style="padding: 40px">
                    <img src="/img/logo.png">
                </div>
            </div>

            <div class="card card-user" style="margin-top: 20px; width: 900px; height: 150px">
                <div class="card-body" style="padding: 40px">
                    <img src="/img/logo.png">
                </div>
            </div>

            <div class="card card-user" style="margin-top: 20px; width: 900px; height: 150px">
                <div class="card-body" style="padding: 40px">
                    <img src="/img/logo.png">
                </div>
            </div>

        </main>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
