<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/head :: head('QueijoSoft')"></div>

    <body class="">
        <div class="wrapper ">

            <div th:replace="fragments/fragmentMenu/menu :: menu(8)"></div>

            <div class="main-panel">

                <div th:replace="fragments/header :: header(${tituloHeader}, 'PRODUTOCONSUMO')"></div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8" style="margin-top: 40px; margin-bottom: 40px">
                            <div class="card card-user">
                                <div class="card-body" style="padding: 40px">
                                    <form method="post" th:action="@{/produtoConsumo/cadastrar}" th:object="${produto}">
                                        <input class="invisible" id="id" name="id" th:field="*{id}" placeholder="Id do produto">
                                        <div class="row">
                                            <div class="col-md-12 px-1">
                                                <div class="form-group">
                                                    <label>Nome</label>
                                                    <input type="text" class="form-control" th:field="*{nome}" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 px-1">
                                                <div class="form-group">
                                                    <label>Descrição</label>
                                                    <textarea class="form-control" th:field="*{descricao}"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 pl-1">
                                                <div class="form-group">
                                                    <label>Quantidade</label>
                                                    <input type="number" class="form-control" min="0" th:field="*{quantidade}" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 pl-1">
                                                <div class="form-group">
                                                    <label>Qualidade</label>
                                                    <input type="text" class="form-control" th:field="*{qualidade}" required>
                                                </div>
                                            </div>

                                            <div class="col-md-4 pl-1">
                                                <div class="form-group">
                                                    <label>Disponível</label>
                                                    <select class="form-control" th:field="*{disponivel}" required>
                                                        <option value="true">Sim</option>
                                                        <option value="false">Não</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 px-1">
                                                <div class="form-group">
                                                    <label>Tipo Produto</label>
                                                    <select class="form-control" th:field="*{tipoproduto.id}" required>
                                                        <option th:value="${tipo.id}" th:each="tipo : ${listaTipoProduto}" th:text="${tipo.nome + '  -  ' + tipo.medida}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="update ml-auto mr-auto">
                                                <button type="submit" class="btn btn-primary btn-round">Cadastrar produto</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/fragmentTipoProduto/modal-tipo-produto :: modalTipoProduto(${tipoProduto})"></div>
        <!-- Colocar o action -->
        <div id="modalImpotacaoPlanilha" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Importação de planilha</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form method="post" th:action="@{/produtoConsumo/impotarPlanilha}">
                                <div class="form-group">
                                    <label class="control-label">Carregue o seu arquivo aqui .csv</label>
                                    <input type="file" accept=".csv" class="form-control" id="InputFileProdutoFinal" aria-describedby="fileHelp" name="arquivo">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>