<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/head :: head('EventLog - Formulário')"></div>

    <body style="background-color: #f4f3ef">

        <header>
            <nav class="navbar navbar-expand-lg" style="background-color: white; margin-bottom: 40px">
                <div class="container-fluid">
                    <div class="navbar-wrapper">

                        <a class="navbar-brand" href="javascript:;" style="color: #2d2d2d">
                            <img th:src="@{/img/logo.png}" width="30" height="30" class="d-inline-block align-top" style="margin-right: 15px" alt="Logo HGuN"/>
                            Notificação de Incidentes / Eventos adversos
                        </a>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation" style="margin-right: 50px">

                        <a th:href="@{/login}" class="btn btn-outline-primary my-2 my-sm-0" style="color: #51cbce">Entrar</a>

                    </div>
                </div>
            </nav>
        </header>

        <main class="container">
            <div class="card card-user" style="margin-top: 40px">
                <div class="card-body" style="padding: 40px">
                    <form method="post" th:action="@{/}" th:object="${ocorrencia}">
                        <!-- Dados do paciente -->
                        <div class="row">
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Nome completo do paciente <b style="color: red">*</b></label>
                                    <input type="text" th:class="${ erros.paciente != null && erros.paciente.nome != null ? 'form-control errorInput' : 'form-control'}"  required th:field="*{paciente.nome}" >
                                    <div th:if="${erros.paciente != null}">
                                        <label style="color: red" th:if="${erros.paciente.nome != null}" th:text="${erros.paciente.nome}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">PRECCP</label>
                                    <input type="text" th:class="${ erros.paciente != null && erros.paciente.preccp != null ? 'form-control errorInput' : 'form-control'}" th:field="*{paciente.preccp}">
                                    <div th:if="${erros.paciente != null}">
                                        <label style="color: red" th:if="${erros.paciente.preccp != null}" th:text="${erros.paciente.preccp}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Idade <b style="color: red">*</b></label>
                                    <input type="text" th:class="${ erros.paciente != null && erros.paciente.idade != null ? 'form-control errorInput' : 'form-control'}" data-mask="00 ano(s)" required th:field="*{paciente.idade}">
                                    <div th:if="${erros.paciente != null}">
                                        <label style="color: red" th:if="${erros.paciente.idade != null}" th:text="${erros.paciente.idade}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Sexo <b style="color: red">*</b></label>
                                    <select th:class="${ erros.paciente != null && erros.paciente.sexo != null ? 'form-control errorInput' : 'form-control'}" required th:field="*{paciente.sexo}">
                                        <option th:value="null" required></option>
                                        <option th:value="M">Masculino</option>
                                        <option th:value="F">Feminino</option>
                                    </select>
                                    <div th:if="${erros.paciente != null}">
                                        <label style="color: red" th:if="${erros.paciente.sexo != null}" th:text="${erros.paciente.sexo}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Dados de onde e quando foi a ocorrencia -->
                        <div class="row">
                            <div class="col-md-9 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Setor da ocorrência <b style="color: red">*</b></label>
                                    <select th:class="${ erros.tipoSetor != null ? 'form-control errorInput' : 'form-control'}" th:field="*{tipoSetor.id}" required>
                                        <option th:value="null"></option>
                                        <option th:value="${tipo.id}" th:each="tipo : ${listaTipoSetor}" th:text="${tipo.nome + (tipo.descricao != '' ? ('  ('+tipo.descricao)+')' : '')}"></option>
                                    </select>
                                    <label style="color: red" th:if="${erros.tipoSetor != null}" th:text="${erros.tipoSetor}"></label>
                                </div>
                            </div>
                            <div class="col-md-2 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Data <b style="color: red">*</b></label>
                                    <input type="text" th:class="${ erros.data != null ? 'form-control errorInput' : 'form-control'}" data-mask="00/00/0000" required th:field="*{data}">
                                    <label style="color: red" th:if="${erros.data != null}" th:text="${erros.data}"></label>
                                </div>
                            </div>
                            <div class="col-md-1 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Hora <b style="color: red">*</b></label>
                                    <input type="text" th:class="${ erros.hora != null ? 'form-control errorInput' : 'form-control'}" data-mask="00:00" required th:field="*{hora}">
                                    <label style="color: red" th:if="${erros.hora != null}" th:text="${erros.hora}"></label>
                                </div>
                            </div>
                        </div>

                        <!-- Dados que descrevem a ocorrencia -->
                        <div class="row">
                            <div class="col-md-12 px-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Resumo da ocorrência / descrição do incidente <b style="color: red">*</b></label>
                                    <textarea th:style="${ erros.resumo != null ? 'border-color: red' : ''}" class="form-control" required th:field="*{resumo}"></textarea>
                                    <label style="color: red" th:if="${erros.resumo != null}" th:text="${erros.resumo}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Tipo de ocorrência <b style="color: red">*</b></label>
                                    <select th:class="${ erros.tipoOcorrencia != null ? 'form-control errorInput' : 'form-control'}" required th:field="*{tipoOcorrencia.id}">
                                        <option th:value="null"></option>
                                        <option th:value="${tipo.id}" th:each="tipo : ${listaTipoOcorrencia}" th:text="${tipo.nome + (tipo.descricao != '' ? ('  ('+tipo.descricao)+')' : '')}"></option>
                                    </select>
                                    <label style="color: red" th:if="${erros.tipoOcorrencia != null}" th:text="${erros.tipoOcorrencia}"></label>
                                </div>
                            </div>
                            <div class="col-md-7 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Em que fase da assistência ocorreu? <b style="color: red">*</b></label>
                                    <select th:class="${ erros.tipoFaseAssistencia != null ? 'form-control errorInput' : 'form-control'}" required th:field="*{tipoFaseAssistencia.id}">
                                        <option th:value="null"></option>
                                        <option th:value="${tipo.id}" th:each="tipo : ${listaTipoFaseAssistencia}" th:text="${tipo.nome + (tipo.descricao != '' ? ('  ('+tipo.descricao)+')' : '')}"></option>
                                    </select>
                                    <label style="color: red" th:if="${erros.tipoFaseAssistencia != null}" th:text="${erros.tipoFaseAssistencia}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Tipo Incidência <small>(com/sem Dano)</small> <b style="color: red">*</b></label>
                                    <select th:class="${ erros.tipoIncidencia != null ? 'form-control errorInput' : 'form-control'}" required th:field="*{tipoIncidencia.id}">
                                        <option th:value="null"></option>
                                        <option th:value="${tipo.id}" th:each="tipo : ${listaTipoIncidencia}" th:text="${tipo.nome + (tipo.descricao != '' ? ('  ('+tipo.descricao)+')' : '')}"></option>
                                    </select>
                                    <label style="color: red" th:if="${erros.tipoIncidencia != null}" th:text="${erros.tipoIncidencia}"></label>
                                </div>
                            </div>
                            <div class="col-md-5 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Característica <small>(Grau do Dano)</small> <b style="color: red">*</b></label>
                                    <select th:class="${ erros.tipoDano != null ? 'form-control errorInput' : 'form-control'}" required th:field="*{tipoDano.id}">
                                        <option th:value="null"></option>
                                        <option th:value="${tipo.id}" th:each="tipo : ${listaTipoDano}" th:text="${tipo.nome + (tipo.descricao != '' ? ('  ('+tipo.descricao)+')' : '')}"></option>
                                    </select>
                                    <label style="color: red" th:if="${erros.tipoDano != null}" th:text="${erros.tipoDano}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 px-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Quais medidas foram tomadas no momento do incidente / evento adverso? <b style="color: red">*</b></label>
                                    <textarea th:style="${ erros.descricao != null ? 'border-color: red' : ''}" class="form-control" required th:field="*{descricao}"></textarea>
                                    <label style="color: red" th:if="${erros.descricao != null}" th:text="${erros.descricao}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 px-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d">Se houver fator contribuinte, qual foi?</label>
                                    <input type="text" th:class="${ erros.fatorContribuinte != null ? 'form-control errorInput' : 'form-control'}" th:field="*{fatorContribuinte}">
                                    <label style="color: red" th:if="${erros.fatorContribuinte != null}" th:text="${erros.fatorContribuinte}"></label>
                                </div>
                            </div>

                            <div class="col-md-3 px-1">
                                <div style="margin-top: 30px; margin-left: 60px">
                                    <input class="form-check-input" type="checkbox" th:field="*{pacienteFoiInternado}" th:checked="${pacienteFoiInternado}" style="width: 20px; height: 20px">
                                    <label class="form-check-label" style="margin-left: 15px; margin-top: 6px; color: #2a2b2d">
                                        O ocorrido levou a internação
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div style="margin-top: 30px; margin-left: 60px">
                                    <input class="form-check-input" type="checkbox" th:field="*{pacienteFaleceu}" th:checked="${pacienteFaleceu}" style="width: 20px; height: 20px">
                                    <label class="form-check-label" style="margin-left: 15px; margin-top: 6px; color: #2a2b2d">
                                        O ocorrido levou a óbito
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary mx-auto" style="width: 200px; height: 40px; font-size: 14px" >Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <div th:if="${cadastrou != null}" id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <div class="icon-box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="95" height="95" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                            </svg>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Ocorrência registrada com sucesso!</h4>
                        <br/>
                        <p>Sua ocorrência foi registrada e encaminhada para o Núcleo de Segurança do Paciente (NSP).</p>
                        <p>Agradecemos a sua colaboração.</p>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#myModal').modal('show');
            })
        </script>
    </body>
</html>