<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div class="sidebar" data-color="white" data-active-color="danger" th:fragment="menu(indice)">
        <div class="logo">
            <a th:href="@{/}" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img src="/img/logo.png">
                </div>
            </a>
            <a th:href="@{/}" class="simple-text logo-normal">
                HGuN
            </a>
        </div>
        <div class="sidebar-wrapper" style="overflow-x: hidden;">
            <ul class="nav">

<!--                <li th:replace="fragments/fragmentMenu/li :: li(${indice == 1}, '/administrador', 'nc-icon nc-bank', 'Dashboard')"></li>-->

                <li>
                    <a style="cursor: text">
                        <i class="nc-icon nc-tile-56"></i>
                        <p > Ocorrências :</p>
                    </a>

                </li>

                <li th:replace="fragments/fragmentMenu/li :: li(${indice == 2}, '/administrador/ocorrencias/novas', '', 'Novas')"></li>
                <li th:replace="fragments/fragmentMenu/li :: li(${indice == 3}, '/administrador/ocorrencias/finalizadas', '', 'Finalizadas')"></li>

            </ul>

            <ul class="nav fixed-bottom" style="margin-bottom: 20px; width: inherit">
                <li>
                    <a th:href="@{/logout}">
                        <i class="fa fa-sign-out"></i>
                        <p >Sair</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>

</html>